@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */
:root {
  /* Primary Colors */
  --primary-100: #0F2A44;
  --primary-80: #13416D;
  --primary-60: #246AAD;
  --primary-40: #0972D7;
  --primary-20: #B4D8FA;
  --primary-10: #EFF6FF;

  /* Secondary Colors */
  --secondary-100: #2FA4A9;
  --secondary-80: #41D0D6;
  --secondary-60: #5BECF3;
  --secondary-40: #7DF9FF;
  --secondary-20: #A3FBFF;
  --secondary-10: #E9FEFF;

  /* Alert & Status Colors */
  --success: #12D18E;
  --warning: #FFC832;
  --error: #F54141;

  /* Greyscale */
  --gray-900: #212121;
  --gray-800: #424242;
  --gray-700: #616161;
  --gray-600: #757575;
  --gray-500: #9E9E9E;
  --gray-400: #BDBDBD;
  --gray-300: #E0E0E0;
  --gray-200: #EEEEEE;
  --gray-100: #F5F5F5;
  --white: #FFFFFF;

  /* Border Colors */
  --border-default: #E1E4EA;
  --border-light: #E1EBF4;

  /* Background Colors */
  --bg-light: #F2F5F8;
  --bg-white: #FFFFFF;
}
